<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hxj.acl.rpc.mapper.SysDeptMapper">

	<update id="updateLevelPrefix">
		update sys_dept set
		level = CONCAT(#{newPrefix}, substring(level, LENGTH(#{oldPrefix}) +
		1)) where
		level like CONCAT(#{oldPrefix},'%')
	</update>

</mapper>